.header {
  background-color: black;
  height: 10vh;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 19vw;
  padding-right: 19vw;
}

.main-heading {
  font-size: x-large;
}

.nav-bar {
  width: 20vw;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  align-self: flex-end;
}

.nav-bar a {
  text-decoration: none;
  color: aliceblue;
}